{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Per Day Spending</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Spending from {{ from_date }} to {{ to_date }} in {{ currency.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                {% for client_name in all_clients_spending.keys %}
                    <th>{{ client_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for date in unique_dates %}
                <tr>
                    <td>{{ date }}</td>
                    {% for client_spending in all_clients_spending.values %}
                        <td>{{ client_spending|get_item:date }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
