{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Per Day Spending</title>
    <link rel="stylesheet" href="{% static 'main/css/per_day_spending.css' %}">
</head>
<body>
    <h1>Spending from {{ from_date }} to {{ to_date }}</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                {% for client_name in all_clients_spending.keys %}
                    <th>{{ client_name }}</th>
                {% endfor %}
                 <!-- New column for the limit remainders -->
                <th>Remaining Allowance</th>
            </tr>
        </thead>
        <tbody>
            {% for date in unique_dates %}
                <tr>
                    <td>{{ date }}</td>
                    {% for client_spending in all_clients_spending.values %}
                        <td>{{ client_spending|get_item:date|humanize_monetary }}</td>
                    {% endfor %}
                    <!-- Display the limit for each date -->
                    {% with limit=limit_remainders|get_item:date %}
                    <td class="{% if limit >= 0 %}positive-allowance{% else %}negative-allowance{% endif %}">
                      {{ limit|humanize_monetary }}
                    </td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
